body {

}

.headline {
	position: relative;
	background: transparent;
	height: 100vh;
}

.headline h1{
	max-width: 204px;
	background: #fff;
	display: inline;
	/* position: relative; */
	z-index: 999;
	font-size: 4.222em;
	margin-top: 200px;
	margin-right: 300px; 
	margin-left: 0px;
	/* margin-bottom: 300px; */
}
.headline h2{
	max-width: 514px;
	background: #fff;
	display: inline;
	/* z-index: 999; */
	font-size: 2.222em;
	margin-top: 100px;
	margin-right: 300px; 
	margin-left: 0px;
	/* margin-bottom: 300px; */
}

.cuerpo h1{
	max-width: 640px;
	font-size: 1.22em;
	margin-top: 200px;
	margin-left: 320px;
	margin-right: 220px;
	font-weight: normal;
}
.cuerpo p{
	max-width: 640px;
	font-size: 1.22em;
/* 	margin-top: 200px; */
	margin-left: 320px;
	margin-right: 220px;
}

.headline img {
/* 	position: relative;
	max-width: 99%;
	z-index: -1; */

	position: absolute;
	top: 0;
	left: 0;

	min-height: 100%;
	min-width: 1024px;

	width: 100%;
	height: auto;
	z-index: -1;
}

.cuerpo {
	padding-top: .5px;
}

section {
	background: #fff;

	/* height: 100vh; */
	/* border: 100px blue; */
}

