body {
margin: 0, 0, 0, 0;
}



/* Global Styles */



/* TIPOGRAFIA */
/* Pendientes: 
"Darle calidez a la página, que se vuelva orgánico" */

h1 {
	font-family: helvetica;
}

h2 {
	font-family: helvetica;
}

h3 {
	font-family: helvetica;
	color: #fff;
}
figcaption {
	font-family: helvetica;
	font-size: 1rem;
	padding-top: 10px;
	max-width: 80%;
	/* width: 800px; */
	align-items: left;
	margin-left: auto;
	margin-right: auto;
}

footer {
	align-items: left;
	margin-left: 5px;
	font-size: 1rem;
	display: block;
	color: #ffffff;
	background-color: #193441;
	padding: 1.3rem;
}

.footerimg {
	font-size: 1.822em;
	font-style: italic;
	max-width: 500px;
	float: center;
}

.headline {
/* 	position: relative; */
	background: transparent;
	height: 100vh;
	/* padding-top: 150px;
	padding-left: 50px;/ */
}

.headline img {  
/* 	background-size: cover; */
	/* left: 0; */
 	z-index: -1;
	top: 0;
  	height: auto;
  	max-width: 100%;
  	position: fixed;
/*   	width: 100%; */
/*   	background-position: absolute; */
/*   	background-attachment: fixed; 
  	background-position: center top; */
  /* 	position: fixed !important; */
/*   	background-attachment: fixed; */

 
} 

.headline h1{
	min-width: 504px;
/* 	background: #fff;
display: inline; */
 	text-align: center;
/* 	position: relative;
 */	z-index: 999;
	color: #fff/*  rgb(195, 180, 161) */;
	font-size: 4.222em;
	margin-right: auto; 
	margin-left: auto;
	margin-top: 200px;
	margin-bottom: 5px;
	font-weight: bolder;
	/* object-position: center; */
	/* margin-bottom: 300px; */
	/* box-shadow: 2px 2px 3px black; */
	text-shadow: 1px 1px 2px black; 

}
.headline h2{
	max-width: 714px;
/* 	background: #fff;
	display: inline-block;
	z-index: 999; */
	text-align: center;
	font-size: 1.522em;
	margin-right: auto; 
	margin-left: auto;
	margin-top: 5px;
	font-weight: lighter;
	padding-top: 8px;
	color: #fff;
	text-shadow: 1px 1px 2px black; 
	/* box-shadow: 2px 2px 3px black; */

	/* margin-bottom: 300px; */
}

.headline h3 {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	text-shadow: 1px 1px 2px black; 

}

.cuerpo {
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
	background: #fff;
	/* left: 0 !important;
	right: 0, !important; */
	/* width: 100%; */
}

.cuerpo h1{
	max-width: 640px;
	font-size: 1.22em;
	margin-left: 320px;
	margin-right: 220px;
	font-weight: normal;
}

.capitulo {
	max-width: 640px;
	font-size: 1.513rem;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	font-family: helvetica;
	font-weight: bolder;
	color:  #000;
}

#header {
	font-size: 2.7em;
}
.cuerpo p{
	max-width: 640px;
	font-size: 1.313rem;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	font-family: times;
}

.cuerpo span {
	font-family: verdana;
}


/* Problemas haciendo que esto flote */
.imagen {
	max-width: 80%;
	height: auto;
	display: block;
/* 	margin: auto;
 */    /* width: 50%; */
   /*  border: 3px solid green; */
  	padding: 20px, 20px, 0px, 20px;
    margin-left: auto;
    margin-right: auto;
   }
 /*    margin-right: 40px; 
 }
 */

/* .imagen figcaption{
	max-width: 80%;
	height: auto;
	display: block;
/* 	margin: auto;
 */    /* width: 50%; */
 /*    border: 3px solid green; */
  	/* padding: 20px, 20px, 0px, 20px; */
   /*  margin-left: auto;
    margin-right: auto; */
   /* } */ 

/* .dosimgh {
	display: inline-block;
    position: relative;
    margin: 1%;
    float: left;
    max-width: 500px;
    height: auto;
 /*    margin-right: 40px; 
}*/

.dosimgv {
	display: inline-block;
    position: relative;
    margin: 1%;
    /* float: left; */
    max-width: 47%;
    min-width: 30%;
    height: auto;
 /*    margin-right: 40px; */
}

.imgbreak {
	margin-top: 30px;
	margin-bottom: 20px;
	max-width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

/* figcaption {
	max-width: 80%;
	height: auto;
	display: block;
	margin: auto;
	width: 50%;
    border: 3px solid green;
  	padding: 20px, 20px, 0px, 20px;
    margin-left: auto;
    margin-right: auto;
} */

/************************************************************
QUOTES 
*************************************************************/

.cita {
	max-width: 640px;
	max-height: auto;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border-color: black;
	border: 10px;
}

.cita img {
	max-width: 100%;
	max-height: auto;
	margin: 0, 0, 0, 0;
}
.cita p {
	font-size: 1.522em;
	font-style: italic;
	max-width: 600px;
	text-align: center;
	margin-left: 20px;
	margin-bottom: 20px;
}

.cita h4 {
	font-size: 1.922em;
	font-style: oblique;
	max-width: 619px;
	text-align: right;
	margin-bottom: 10px;
	/* margin-right: 10px; */
}
/* .imagenbreak {
	margin-top: 10px;
	max-width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
 */

section {
/* 	background: #fff; */
    display: block;
}
	


