body {
background-image: linear-gradient(#E5E5E3, #193441);
background-color:  #E5E5E3;
}

/* TIPOGRAFIA */
/* Pendientes: 
"Darle calidez a la página, que se vuelva orgánico" */

h1 {
	font-family: helvetica;
	text-shadow: 1px 1px 2px black; 
}

h2 {
	font-family: helvetica;
}

h3 {
	font-family: helvetica;
	color: #fff;
}
figcaption {
	font-family: helvetica;
	font-size: 1rem;
	padding-top: 10px;
	/* width: 800px; */
	align-items: left;
	margin-left: auto;
	margin-right: auto;
}

footer {
	align-items: left;
	margin-left: 5px;
	font-size: 1rem;
	display: block;
	color: #ffffff;
	background-color: #193441;
	padding: 1.3rem;
}

.footerimg {
	font-size: 1.822em;
	font-style: italic;
	max-width: 500px;
	float: center;
}
/* Preguntar como hacer para
que salga la parte de abajo de la imagen */
.headline img {
	position: fixed !important; 
 	/* max-width: 99%; */
 	z-index: -999;
	position: absolute;
	top: 0;
	left: 0;
	min-height: auto; 
	/* min-height: 100%; */
	width: 100%;
/* 	max-width: 1024px; */
	width: 100%;
}

/* .parrafo {
	padding-top: 20px;
	padding-bottom: 20px;
	width: 1300px;
} */

/* nunca justificar texto */

.headline {
	position: relative;
	background: transparent;
	height: 500px;
	/* border: 15px; */
	border-color: blue;
	padding-top: 150px;
	padding-left: 50px;
	/* max-width: 800px; */
}

.headline h1{
	min-width: 504px;
/* 	background: #fff;
display: inline; */
 	text-align: center;
/* 	position: relative;
 */	z-index: 999;
	color: #FBFDFF/*  rgb(195, 180, 161) */;
	font-size: 4.222em;
	margin-right: auto; 
	margin-left: auto;
	margin-bottom: 5px;
	font-weight: bolder;
	/* object-position: center; */
	/* margin-bottom: 300px; */
	/* box-shadow: 2px 2px 3px black; */
	text-shadow: 1px 1px 2px black; 

}
.headline h2{
	max-width: 714px;
/* 	background: #fff;
	display: inline-block;
	z-index: 999; */
	text-align: center;
	font-size: 1.522em;
	margin-right: auto; 
	margin-left: auto;
	margin-top: 5px;
	font-weight: lighter;
	padding-top: 8px;
	color: #808080;
	text-shadow: 1px 1px 2px black; 
	/* box-shadow: 2px 2px 3px black; */

	/* margin-bottom: 300px; */
}

.headline h3 {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	text-shadow: 1px 1px 2px black; 

}

#ilustrahead {
	align-items: center;
	margin-right: auto;
	margin-left: auto;
	padding-top: TBD;

}

.cuerpo {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 0px;
	margin-left: 0px;
	max-width: 1300px;
}

.cuerpo h1{
	max-width: 640px;
	font-size: 1.22em;
	margin-left: 320px;
	margin-right: 220px;
	font-weight: normal;
}

#header {
	font-size: 2.7em;
}
.cuerpo p{
	max-width: 640px;
	font-size: 1.313rem;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	font-family: times;
}

.cuerpo span {
	font-family: verdana;
}


/* Problemas haciendo que esto flote */
.imagen {
	max-width: 80%;
	height: auto;
	display: block;
/* 	margin: auto;
 */    /* width: 50%; */
   /*  border: 3px solid green; */
  	padding: 20px, 20px, 0px, 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
   }
 /*    margin-right: 40px; 
 }
 */

/* .imagen figcaption{
	max-width: 80%;
	height: auto;
	display: block;
/* 	margin: auto;
 */    /* width: 50%; */
 /*    border: 3px solid green; */
  	/* padding: 20px, 20px, 0px, 20px; */
   /*  margin-left: auto;
    margin-right: auto; */
   /* } */ 

/* .dosimgh {
	display: inline-block;
    position: relative;
    margin: 1%;
    float: left;
    max-width: 500px;
    height: auto;
 /*    margin-right: 40px; 
}*/

.dosimgv {
	display: inline-block;
    position: relative;
    margin: 1%;
    /* float: left; */
    max-width: 47%;
    min-width: 30%;
    height: auto;
 /*    margin-right: 40px; */
}

.imgbreak {
	margin-top: 30px;
	margin-bottom: 20px;
	max-width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;

}

/* .imagenbreak {
	margin-top: 10px;
	max-width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
 */

section {
	background: #fff;
	

	/* height: 100vh; */
	/* border: 100px blue; */
}

.cita {
	max-width: 640px;
	max-height: auto;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	/* border-color: black;
	border: 10px; */
}

.cita img{
	max-width: 640px;
	max-height: auto;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.cita p {
	font-size: 1.822em;
	font-style: italic;
	max-width: 500px;
	text-align: center;
}

.cita h4 {
	font-size: 1.522em;
	font-style: oblique;
	max-width: 500px;
	text-align: right;
	margin-bottom: 0;
}

.video {
	max-width: %;
	max-height: auto;
	z-index: 999;
	margin-left: auto;
	margin-right: auto;
	display: block
}
